@using borsvarlden.ViewModels
@model NewsViewModel

@{
    ViewData["Title"] = Model?.Title;
    ViewData["Model"] = Model;
}

@section ScriptsHead {
   <script type="text/javascript" src="https://borsvarlden-banners.azurewebsites.net/assets/js/includes/jquery/jquery.js"></script>
   <script type="text/javascript" src="https://borsvarlden-banners.azurewebsites.net/revslider/public/assets/js/jquery.themepunch.tools.min.js"></script>
   <script type="text/javascript" src="https://borsvarlden-banners.azurewebsites.net/revslider/public/assets/js/jquery.themepunch.revolution.min.js"></script>
   <script type="text/javascript" src="~/js/detailarticle.js"></script>
   <script type="text/javascript" src="~/js/sassy-social-share.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/bv-form.min.css" />
    <link rel="stylesheet" href="~/css/bv-widget-subscribe.min.css" />
    <link rel="stylesheet" href="~/css/bv-top-level.min.css" />
    <link rel="stylesheet" href="~/css/bv-panel.min.css" />
    <link rel="stylesheet" href="~/css/related-news.min.css" />
    <link rel="stylesheet" href="~/css/read-more.min.css" />
    <link rel="stylesheet" href="https://borsvarlden-banners.azurewebsites.net/revslider/public/assets/css/settings.css" type="text/css" media="all" />
}

<style>
    .index-content-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }

    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .col-12 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
</style>

<div class="detailed-article">
    <div class="row index-row">
        <div class="col-10 index-content-wrapper">
            <div class="image-wrapper">
                <div class="image-container row">
                    @if (string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img class="col-12" src="~/assets/images/borsvarlden_logo_alternative_510x510.png">
                    }
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        @if (Model.IsAdvertising && !string.IsNullOrEmpty(Model.CompanyName))
                        {
                            <span class="border-sponsored">I SAMARBETE MED @Model.CompanyName.ToUpper()</span>
                        }
                        <img class="col-12" src="~/@Model.ImageUrl">
                    }
                </div>
                <div class="image-text">
                    <span>
                        Bildkälla:
                    </span>
                    @if (!String.IsNullOrEmpty(Model.ImageSource))
                    {
                        @Model.ImageSource
                    }
                    @if (String.IsNullOrEmpty(Model.ImageSource))
                    {
                        @Html.Raw("Stockfoto")
                    }
                </div>
            </div>
            <h1>
                @Model.Title
            </h1>
            <div class="lead-wrapper">
                <p class="lead">
                    @if (!string.IsNullOrEmpty(Model.Label))
                    {
                        <span class="label-subtitle">@Model.Label</span>
                    }
                    @Model.Subtitle
                </p>
                <div>
                    @await Html.PartialAsync("_SocialButtons")
                </div>
            </div>
            <div class="banner-wrapper">
                <div class="column-label">ANNONS</div>
                <div>
                    @await Component.InvokeAsync("BannerTop")
                </div>
            </div>
            <div class="row bv-container-page">
                <div class="col-xs-12 bv-content-left content-main">
                    <span class="article-content">
                        @Html.Raw(Model.NewsText)
                    </span>

                    @if (Model.IsAdvertising && !string.IsNullOrEmpty(Model.CompanyName))
                    {
                        <p class="disclaimer">
                            <i>Det här är en sponsrad artikel framtagen i samarbete med @Model.CompanyName. Sponsrade inlägg är en del av Börsvärldens annonserbjudande. Om du med anledning av våra sponsrade inlägg önskar att komma i kontakt med oss, vänligen skriv till <a href="mailto:ir@borsvarlden.com">IR@borsvarlden.com</a>.</i>
                        </p>
                    }

                    <div class="post-author">
                        <div class="post-author-avatar">
                            <img src="~/assets/images/bv-app-square-128x128.png">
                        </div>
                        <div class="post-author-description">
                            <p>
                                @Html.Raw(Model?.CopyrightLabel)
                            </p>
                        </div>
                    </div>
                    <div class="article-footer">
                        <div class="buttons-container">
                            @await Html.PartialAsync("_SocialButtons")
                        </div>
                        <div class="post-article-meta">
                            <div class="date">
                                Publicerad @Model.Date.ToString("dd MMMM yyyy, HH:mm")
                            </div>
                        </div>
                    </div>
                    @await Component.InvokeAsync("RelatedNews", new { News = Model })

                    <div class="content-botom-hidden">
                        @await Component.InvokeAsync("SponsoredNews")

                        @await Component.InvokeAsync("LatestNews")
                    </div>
                </div>
                <div class="col-xs-12 bv-content-right content-right">
                    @await Component.InvokeAsync("SponsoredNews")
                    @await Component.InvokeAsync("MostReadNews", new { News = Model })
                    @await Component.InvokeAsync("SubscribeForm")
                    @await Component.InvokeAsync("LatestNews")
                </div>
            </div>
        </div>
        <div class="col-2 index-side-banner-wrapper visible-lg">
            <div class="column-label" style="margin-top: -15px;margin-bottom:3px" >ANNONSER</div>
            <img src="~/assets/images/luxbright_skyscraper.jpg" width="200" height="400">
            <div class="stiky-side-banner">
                <img src="~/assets/images/ani_synas.gif" width="200" height="200">
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("ReadMore", new { News = Model })
</div>

@section Scripts{
     <script type="text/javascript" src="~/js/detailarticle.js"></script>
     <script type="text/javascript" src="~/js/sassy-social-share.js"></script>
}