@using borsvarlden.ViewModels;
@using borsvarlden.Helpers;
@using NUnit.Framework
@model Tuple<FinwireCompany, List<FinwireNew>>;
@{
    ViewData["Title"] = $"Företag";
}

@section Styles{
    <link rel="stylesheet" href="~/css/article.min.css" />
    <link rel="stylesheet" href="~/css/news-list.min.css" />
    <link rel="stylesheet" href="~/css/companies.css" />
    <link rel="stylesheet" href="https://borsvarlden-banners.azurewebsites.net/revslider/public/assets/css/settings.css" type="text/css" media="all" />
}

@section ScriptsHead {
    <script type="text/javascript" src="https://borsvarlden-banners.azurewebsites.net/assets/js/includes/jquery/jquery.js"></script>
    <script type="text/javascript" src="https://borsvarlden-banners.azurewebsites.net/revslider/public/assets/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="https://borsvarlden-banners.azurewebsites.net/revslider/public/assets/js/jquery.themepunch.revolution.min.js"></script>
}

<div class="index-row comapy-info-page">
    <div class="row index-content-row bv-container-page">
        <div class="col-xs-12 bv-companyinfo-col-1">
            @if (Model.Item1.Logo != null)
            {
                <img  src="@Model.Item1.Logo" class="company-logo" />
            }
            @if (Model.Item1.Brief != null)
            {
                <div>
                    @Html.Raw(@Model.Item1.Brief)
                </div>
            }
        </div>

        <div class="col-xs-12 bv-companyinfo-col-2">
            <div>
                <h2 class="comapy-news-title">
                    Bolagspresentation:
                </h2>

                @if (Model.Item1.Image != null)
                {
                    <div class="company-image-wraper">
                        <img class="company-image" src="@Model.Item1.Image">
                    </div>
                }
                <div>
                    @if (Model.Item1.Description != null)
                    {
                        <div>@Html.Raw(@Model.Item1.Description)</div>
                    }
                </div>
            </div>
        </div>

        <div class="col-xs-12 bv-companyinfo-col-3">
            @if (Model.Item2.Count > 0)
            {
                <h2 class="comapy-news-title">
                    Nyhetslöde @Model.Item1.Company
                </h2>
                <div class="label" style="margin-bottom: 10px">
                    Related articles:
                </div>
                @foreach (var news in Model.Item2)
                 {
                     <div class="related-news-link-wraper">
                         <a class="related-news-link" href="/artiklar/@news.Slug">
                             <span style="font-weight: 500"> @news.Date - @news.Title</span> - @news.Subtitle
                         </a>
                     </div>
                 }
            }
        </div>


    </div>  
   
</div>

@section Scripts{ }
