@using borsvarlden.ViewModels;
@model NewsViewModel;

<a href="~/artiklar/@Html.Raw(Model.TittleSlug)">
    <div class="image-wrapper">
        @if (string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="~/assets/images/borsvarlden_logo_alternative_510x510.png">
        }
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="~/@Model.ImageUrl">
        }
    </div>
    <div class="article-content-wrapper">
        @if (Model.IsBigBlock)
        {
            <span class="visible-xs label article-label">@Model.ImageLabel</span>

            <h3 class="big-block-article-title">
                @Model.Title
            </h3>

            <p class="hidden-xs big-block-article-subtitle">
                @if (!string.IsNullOrEmpty(Model.ImageLabel))
                {
                    <span class="label article-label">
                        @Model.ImageLabel
                    </span>
                }
                <span>
                    @Model.Subtitle
                </span>
            </p>
        }
        @if (!Model.IsBigBlock)
        {
            @if (!string.IsNullOrEmpty(Model.ImageLabel))
             {
              <span class="label article-label">
                  @Model.ImageLabel
              </span>
             }
            <h3>
            @Model.Title
            </h3>
        }

    </div>
</a>
