<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("MetaTags", new { Model = ViewData["Model"] })
    <title>@ViewData["Title"]</title>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P5ZP2G6');</script>
    <!-- End Google Tag Manager -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,800italic,700,700italic,600italic,600,400italic,300,300italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/lib/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/owl-carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/css/side-aricles.min.css" />
    <link rel="stylesheet" href="~/css/latest.min.css" />
    <link rel="stylesheet" href="~/css/detailed.min.css" />
    <link rel="stylesheet" href="~/css/social-buttons.min.css" />
    <link rel="stylesheet" href="~/css/cookie-notice.min.css" />
    <link rel="stylesheet" href="~/css/bv-popup.min.css" />
    <link rel="shortcut icon" href="~/assets/images/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/images/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/images/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/images/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/images/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/images/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/images/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/images/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/assets/images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/assets/images/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="~/assets/images/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/assets/images/icons/favicon-16x16.png" sizes="16x16">
    @RenderSection("Styles", required: false)
    @RenderSection("ScriptsHead", required: false)
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5ZP2G6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-red-main box-shadow">
            <div class="container nav-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="navbar-logo" src="~/assets/images/header-logo-white.png" />
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="~/om-borsvarlden">Om Börsvärlden</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="~/nyhetsbrev">Nyhetsbrev</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="~/traders-club">Traders Club</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="body-wrapper">
        <div class="container container-default">
            @RenderBody()
        </div>
    </div>

    <footer id="footer" class="border-top footer bg-gray-main">
        <!--<div class="foo"> Vi använder enhetsidentifierare för att anpassa innehållet och annonserna till användarna, tillhandahålla funktioner för sociala medier och analysera vår trafik, utgivna av tredje parter. Dessa kan i sin tur kombinera informationen med annan information som de har på dig som de har samlat in när du använt deras tjänster eller besökt andra sidor.</div>-->
        <div class="container">
            <div class="row footer-main">
                <div class="col-sm-3 text-center-xs text-left-sm footer-col">
                    <h3>
                        Navigation
                    </h3>

                    <ul id="menu-footermeny" class="">
                        <li id="menu-item-2835" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2835">
                            <a href="~/traders-club/">Traders Club</a>
                        </li>
                        <li id="menu-item-3863" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3863">
                            <a href="~/nyhetsbrev/">Nyhetsbrev</a>
                        </li>
                        <li id="menu-item-1199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1199">
                            <a href="~/om-borsvarlden/">Om Börsvärlden</a>
                        </li>
                        <li id="menu-item-3864" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3864">
                            <a href="https://foretagstjanster.borsvarlden.com">Företagstjänster</a>
                        </li>
                        <li id="menu-item-1238" class="menu-item menu-item-type-post_type_archive menu-item-object-article menu-item-1238">
                            <a href="~/artiklar/">Artikelarkiv</a>
                        </li>
                    </ul>

                </div>
                <div class="col-sm-3 text-center-xs text-left-sm footer-col">
                    <h3>
                        Länkar
                    </h3>
                    <ul>
                        <li>
                            <a href="~/friskrivning">Friskrivning</a>
                        </li>
                        <li>
                            <a href="~/integritetspolicy/">Dataskyddspolicy</a>
                        </li>
                        <li>
                            <a href="~/information-om-cookies/">Information om cookies</a>
                        </li>
                        <li>
                            <a href="~/nyhetsbrev/">Påbörja prenumeration</a>
                        </li>
                        <li>
                            <a href="http://borsvarlden.us8.list-manage1.com/unsubscribe?u=4896fc5971b74f114ff713288&amp;id=c2e1e2ec40">Avsluta prenumeration</a>
                        </li>
                    </ul>

                </div>
                <div class="col-sm-3 text-center-xs text-left-sm footer-col">
                    <h3>
                        Kontaktuppgifter
                    </h3>
                    <p>
                        Börsvärlden
                        <br>
                        Taptogatan 6
                        <br>
                        115 27 Stockholm
                    </p>
                    <p>
                        <a href="mailto:info@borsvarlden.com">info@borsvarlden.com</a>
                        <br>
                        <a href="#">www.borsvarlden.com</a>
                    </p>
                </div>
                <div class="col-sm-3 text-center-xs text-left-sm">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/borsvarlden_logo_alternative_510x510.png" class="footer-logo" width="128" height="128">
                    </a>
                </div>
            </div>
            <div class="separator"></div>
            <div class="row footer-copyright">
                <div class="col-sm-12 text-center-xs text-left-sm">
                    <p>Copyright © 2020<br>Allt material är upphovsrättsskyddat enligt lag</p>
                </div>
            </div>
        </div>
        <div id="cookie-notice" class="cn-bottom" style="color: rgb(255, 255, 255); background-color: rgb(38, 50, 56); display: none;">
            <div class="cookie-notice-container">
                <span id="cn-notice-text" class="cookie-notice-content">
                    Denna webbplats använder cookies
                </span>
                <span class="cookie-notice-content cookie-notice-message"> Vi använder enhetsidentifierare för att anpassa innehållet och annonserna till användarna, tillhandahålla funktioner för sociala medier och analysera vår trafik, utgivna av tredje parter. Dessa kan i sin tur kombinera informationen med annan information som de har på dig som de har samlat in när du använt deras tjänster eller besökt andra sidor.</span>
                <a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie button">Jag förstår</a>
                <a href="~/information-om-cookies/" target="_self" id="cn-more-info" class="button">Läs mer</a>
            </div>
        </div>
    </footer>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css">
    <script src="https://kit.fontawesome.com/2614cd82a6.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/stacktable.js"></script>
    <script src="~/js/validator.js"></script>
    @RenderSection("StylesTail",false)
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/js/cookie-notice.js"></script>
</body>
</html>
