
@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>

<div id="articles-grid">

</div>
<script src="//cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
<script>
    $(function() {
        $("#articles-grid").dxDataGrid({
            dataSource: DevExpress.data.AspNet.createStore({
                key: "id",
                loadUrl: "@Url.Action("Get", "Articles")",
                insertUrl: "@Url.Action("Insert","Articles")",
                updateUrl: "@Url.Action("Update", "Articles")",
                deleteUrl: "@Url.Action("Delete","Articles")"
            }),
            columns: [
                {
                    dataField: "date",
                    caption: "Date created",
                    dataType: "datetime"
                },
                {
                    dataField: "title",
                    caption: "Title"
                },
                {
                    dataField: "subtitle",
                    visible: false
                },
                {
                    dataField: "imageRelativeUrl",
                    caption: "Image",
                    width: 110,
                    alignment: "center",
                    cellTemplate: function(container, options) {
                        container.append("<img style='width: auto' src=\"" + options.text + "\" width=\"50\" height=\"50\" >");
                    },
                    editCellTemplate: (itemElement, cellInfo) => {

                        let tb = $("<div />").dxTextBox({
                            value: cellInfo.value,
                            onValueChanged: (e) => {
                                cellInfo.setValue(e.value);
                            }
                        })
                        tb.appendTo(itemElement);

                        $("<div />").dxFileUploader({
                                        accept: "image/*",
                                        uploadUrl: "@Url.Action("UploadImage", "Articles")",
                                        onUploaded: (e) => {
                                            cellInfo.setValue(e.request.response);
                                            tb.dxTextBox('option', 'value', e.request.response);
                                        }
                        }).appendTo(itemElement);

                    }
                },
                {
                    dataField: "newsText",
                    visible: false,
                    editCellTemplate: (itemElement, cellInfo) => {

                        ($("<textarea>", { "id": "ckpeditor", "val": cellInfo.value })).appendTo(itemElement);

                        $("<script>").append(CKEDITOR.replace("ckpeditor")).appendTo(itemElement);

                        $("<script>").append(CKEDITOR.instances.ckpeditor.on("change", function () { cellInfo.setValue(CKEDITOR.instances.ckpeditor.getData()) })).appendTo(itemElement);

                    }
                },
                {
                    dataField: "isAdvertising",
                    dataType: "boolean",
                    visible: false
                },
                {
                    dataField: "dateModified",
                    dataType: "datetime",
                    visible: false
                },
                {
                    dataField: "slug",
                    dataType: "string",
                    visible: false
                },
                {
                    dataField: "order",
                    dataType: "number",
                    visible: false
                },
                {
                    dataField: "companyName",
                    dataType: "string",
                    visible: true
                },
                {
                    dataField: "prioDeadLine",
                    caption: "Prio deadline",
                    dataType: "datetime",
                    visible: true
                },
                {
                    dataField: "label",
                    dataType: "string",
                    visible: true
                },
                {
                    dataField: "isPublished",
                    dataType: "boolean",
                    visible: true
                },
                {
                    dataField: "actualDeadLine",
                    caption: "Actual deadline",
                    dataType: "datetime",
                    visible: true
                },
                {
                    dataField: "isBorsvarldenArticle",
                    dataType: "boolean",
                    visible: true
                }
            ],
            editing: {
                mode: "popup",
                allowUpdating: true,
                allowAdding: true,
                allowDeleting: true,
                popup: {
                    title: "Article",
                    showTitle: true,
                    my: "top",
                    at: "top",
                    of: window
                },
                form: {
                    colCount: 2,
                    items: ["date", 
                        {
                            dataField: "isAdvertising",
                            dataType: "boolean"
                        }, 
                        "title", "subtitle",
                        {
                            colSpan: 2,
                            dataField: "newsText",
                            //editorOptions: {
                            //    height: 550,
                            //    activeStateEnabled: true,
                            //    //toolbar: {
                            //    //    items: [
                            //    //        "undo", "redo", "separator",
                            //    //        {
                            //    //            formatName: "size",
                            //    //            formatValues: ["8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt"] 
                            //    //        },
                            //    //        {
                            //    //            formatName: "font",
                            //    //            formatValues: ["Arial", "Courier New", "Georgia", "Impact", "Lucida Console", "Tahoma", "Times New Roman", "Verdana"]
                            //    //        },
                            //    //        "separator", "bold", "italic", "strike", "underline", "separator",
                            //    //        "alignLeft", "alignCenter", "alignRight", "alignJustify", "separator",
                            //    //        "orderedList", "bulletList", "separator",
                            //    //        {
                            //    //            formatName: "header",
                            //    //            formatValues: [false, 1, 2, 3, 4, 5]
                            //    //        }, "separator",
                            //    //        "color", "background", "separator",
                            //    //        "link", "image", "separator",
                            //    //        "clear", "codeBlock", "blockquote"
                            //    //    ]
                            //    //}
                            //}
                        },
                        {
                            colSpan: 2,
                            dataField:"imageRelativeUrl",
                        },
                        {
                            dataField: "dateModified",
                            dataType: "datetime",
                        },
                        "slug",
                        "order",
                        "companyName",
                        {
                            dataField: "prioDeadLine",
                            dataType: "datetime"
                        },
                        "label",
                        {
                            dataField: "isPublished",
                            dataType: "boolean"
                        },
                        {
                            dataField: "actualDeadLine",
                            dataType: "datetime"
                        },
                        {
                            dataField: "isBorsvarldenArticle",
                            dataType: "boolean",
                            visible: true
                        }
                    ]
                }
            },
            remoteOperations: true,
            searchPanel: {
                visible: true
            },
            grouping: {
                autoExpandAll: false
            },
            filterRow: {
                visible: true,
                applyFilter: "onClick"
            }
        });
    });
</script>