
@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>

<div id="articles-grid">

</div>

<script>
    $(function() {
        $("#articles-grid").dxDataGrid({
            dataSource: DevExpress.data.AspNet.createStore({
                key: "id",
                loadUrl: "@Url.Action("Get", "Articles")"
                @*updateUrl: "@Url.Action("UpdateOrder", "Northwind")",
                insertUrl: "@Url.Action("InsertOrder", "Northwind")",
                deleteUrl: "@Url.Action("DeleteOrder", "Northwind")",
                onBeforeSend: function(operation, ajaxSettings) {
                     operation - any of "load", "update", "insert", "delete"
                     ajaxSettings - http://api.jquery.com/jquery.ajax/
                }*@
            }),
            columns: [
                {
                    dataField: "date",
                    caption: "Date created",
                    dataType: "datetime"
                },
                {
                    dataField: "title",
                    caption: "Title"
                    @*lookup: {
                        valueExpr: "value",
                        displayExpr: "text",
                        dataSource: DevExpress.data.AspNet.createStore({
                            key: "value",
                            loadUrl: "@Url.Action("CustomersLookup", "Northwind")"
                        })
                    }*@
                },
                {
                    dataField: "imageRelativeUrl",
                    caption: "Image URL"
                }
                //{
                //    dataField: "orderDate",
                //    dataType: "date",
                //    headerFilter: {
                //        groupInterval: "quarter"
                //    }
                //},
                //{
                //    dataField: "freight",
                //    headerFilter: {
                //        groupInterval: 100
                //    }
                //},
                //"shipCountry",
                //"shipRegion",
                @*{
                    dataField: "shipVia",
                    lookup: {
                        valueExpr: "value",
                        displayExpr: "text",
                        dataSource: DevExpress.data.AspNet.createStore({
                            key: "value",
                            loadUrl: "@Url.Action("ShippersLookup", "Northwind")"
                        })
                    }
                }*@
            ],
            // groupPanel: { visible: true },
            // filterRow: { visible: true },
            // headerFilter: { visible: true },
            editing: {
                mode: "popup",
                allowUpdating: true,
                allowAdding: true,
                allowDeleting: true
            },
            remoteOperations: true,
            searchPanel: {
                visible: true
            },
            grouping: {
                autoExpandAll: false
            },
            @*summary: {
                totalItems: [
                    { column: "freight", summaryType: "sum" }
                ],
                groupItems: [
                    { column: "freight", summaryType: "sum" },
                    { summaryType: "count" }
                ]
            },
            masterDetail: {
                enabled: true,
                template: function(container, options) {
                    $("<div>")
                        .dxDataGrid({
                            dataSource: DevExpress.data.AspNet.createStore({
                                loadUrl: "@Url.Action("OrderDetails", "Northwind")",
                                loadParams: { orderId: options.data.orderId }
                            }),
                            remoteOperations: true,
                            showBorders: true
                        })
                        .appendTo(container);
                }
            }*@
        });
    });
</script>